<div class="main col-md-3">
  <div class="sidebar">
    <div class="block clearfix">
      <h4 class="title">产品展示</h4>
      <div class="separator-2"></div>
      <nav>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ site.url }}/anti-slip-tape/">防滑胶带</a></li>
          <li><a href="{{ site.url }}/anti-slip-sticker/">防滑贴</a></li>
          <li><a href="{{ site.url }}/skateboard-grip-tape/">滑板贴</a></li>
          <li><a href="{{ site.url }}/bathtub-anti-slip-sticker/">浴室防滑贴</a></li>
          <li><a href="{{ site.url }}/anti-slip-mat/">Anti Slip Mat</a></li>
          <li><a href="{{ site.url }}/other-products/">其他产品</a></li>
        </ul>
    </div>
      </nav>
    <div class="block clearfix">
      <h4 class="title">联系我们</h4>
      <div class="separator-2"></div>
      <nav>
        <ul class="list-icons">
          <li><i class="fa fa-phone pr-10"></i><a href="tel:{{ site.tel }}">{{ site.tel }}</a></li>
          <li><i class="fa fa-fax pr-10"></i>{{ site.fax }}</li>
          <li><i class="fa fa-qq pr-10"></i><a href="http://wpa.qq.com/msgrd?v=3&uin={{ site.qq }}&site=qq&menu=yes">{{ site.qq }}</a></li>
          <li><i class="fa fa-envelope pr-10"></i>{{ site.email }}</li>
        </ul>
      </nav>
    </div>
  </div>
</div>