<!DOCTYPE html>
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/yigu-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="毅固防滑">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheet application %}
  </head>
  <body class="no-trans front-page transparent-header">
    <div class="scrollToTop circle"><i class="fa fa-chevron-up"></i></div>
    <div class="page-wrapper">
      <div style="background:url(/images/assets/header-img.jpg)">
        <div class="container">
          <div class="col-sm-4">
            <div id="logo" class="logo"><a href="{{ site.url }}"><img id="logo_img" src="/images/assets/yigu-logo.png" alt="毅固Logo"></a></div>
          </div>
          <div class="col-sm-6">
            <img src="/images/assets/header-txt.png" alt="YIGU Logo">
          </div>
        </div>
      </div>
      <div class="header-container">
        <header class="header dark centered clearfix" style="background-color:#282425">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="main-navigation animated with-dropdown-buttons">
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">导航</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                      </div>
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          <li class="{% if page.category == 'home' %}active{% endif %}"><a href="{{ site.url }}">首页</a></li>
                          <li class="{% if page.category == 'about' %}active{% endif %}"><a href="{{ site.url }}/about/">公司简介</a></li>
                          <li class="{% if page.category == 'products' %}dropdown active{% else %}dropdown{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown">产品展示</a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ site.url }}/anti-slip-tape/">防滑胶带</a></li>
                              <li><a href="{{ site.url }}/anti-slip-sticker/">防滑贴</a></li>
                              <li><a href="{{ site.url }}/skateboard-grip-tape/">滑板贴</a></li>
                              <li><a href="{{ site.url }}/bathtub-anti-slip-sticker/">浴室防滑贴</a></li>
                              <li><a href="{{ site.url }}/anti-slip-mat/">防滑垫</a></li>
                              <li><a href="{{ site.url }}/other-products/">其他产品</a></li>
                            </ul>
                          </li>
                          <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">联系我们</a></li>
                          <li><a href="http://www.yigusafety.com" target="_blank">English</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      {{ content }}
      <footer id="footer" class="clearfix dark">
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2009-2018 佛山市毅固防滑制品有限公司 | <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备11016406号-1</a> | <a href="{{ site.url }}/sitemap.xml">Sitemap</a> | 技术支持：<a href="https://gdky.net" target="_blank">开源网络</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    {% javascript application %}
  </body>
</html>